*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-image: url("images/bg-pattern-top-desktop.svg"), url("images/bg-pattern-bottom-desktop.svg");
    background-repeat: no-repeat, no-repeat;
    background-position: left top, right bottom;
    background-size: 40%, 1000px;
    font-family: 'League Spartan', sans-serif;
}

.container_div{
    margin: auto;
    margin-top: 7%;
    width: 70%;
}

.first_flex{
    display: flex;
    margin-top: 50px;
    margin-bottom: 50px;
}

.text_div{
    width: 400px;
    margin-left: 50;
}

h1{
    font-size: 50px;
    font-weight: 700;
    color: hsl(300, 43%, 22%);
    margin-bottom: 20px;
}

.p1{
    color: hsl(303, 10%, 53%);
    font-weight: 500;
    line-height: 22px;
}


.rating_div{
    width: 425px;
    margin-left: 160px;
}

.rating{
    font-weight: 600;
}

.rating_divs{
    padding: 15px 0px 15px 20px;
    width: 350px;
    background-color: hsl(300, 24%, 96%);
    border-radius: 5px;
    display: flex;
    justify-content: space-evenly;
}

.rating_div1{
    margin-top: 30px;
    margin-bottom: 10px;
    
}

.rating_div2{
    margin-bottom: 10px;
    margin-left: 30px;
}

.rating_div3{
    margin-left: 60px;
}


.review_div{
    display: flex;
    height: 320px;
}

.reviews{
    width: 300px;
    height: 200px;
    padding: 17px;
    padding-right: 44px;
    background-color: hsl(300, 43%, 22%);
    border-radius: 3%;
}

.review2{
    margin-left: 20px;
    margin-top: 2%;
}

.review3{
    margin-left: 20px;
    margin-top: 4%;
}

.img{
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.name_tag{
    display: flex;
    width: 100%;
    margin-bottom: 20px;
    margin-top: 10px;
    align-items: center;
}

.name_div{
    margin-left: 15px;
 }

 .name{
    color: hsl(0, 0%, 100%);
 }

p.tag{
   color:  hsl(333, 52%, 57%);
   margin-top: 3px;
}

.review_text{
    color: hsl(300, 24%, 96%);
    font-size: 14px;
    line-height: 19px;
}




    /*MOBILE DESIGN FOR MAX-WIDTH: 375PX*/
    @media screen and (max-width: 375px) {

        body{
            background-image: url("images/bg-pattern-top-mobile.svg"), url("images/bg-pattern-bottom-mobile.svg");
            background-repeat: no-repeat, no-repeat;
            background-size: 95%, 5%;
            height: 600px;
        }

        .container_div{
            margin-right: 20%;
        }

        .first_flex{
            flex: none;
            display: block;
        }
        
        .text_div{
            width: 290px;
        }

        h1{
            font-size: 30px;
            padding-right: 0%;
            width: 250px;
            text-align: center;
            margin-left: 7%;
            line-height: 25px;
        }

        .p1{
            text-align: center;
        }

        .rating_div{
            margin: 0px;
            width: 250px;
        }

        .stars{
            width: 110px;
            margin-left: 25%;
        }

        .rating{
            margin-left: 13%;
            margin-top: 5px;
        }

        .rating_divs{
            width: 290px;
            flex-direction: column;
        }

        .rating_div2{
            margin: 0px;
            margin-bottom: 10px;
        }

        .rating_div3{
            margin: 0px;
        }

        .review_div{
            flex: none;
            display: block;
            margin-left: 5px;
        }

        .reviews{
            width: 280px;
            padding-left: 23px;
            padding-right: 40px;
        }

        .review2{
            margin-top: 4%;
            margin-left: 0px;
        }

        .review3{
            margin-left: 0px;
        }



    }